In [65]:
import csv
import random
import pandas as pd
data = [['User_id', 'Transaction_id', 'Amount', 'Recipient', 'Sender', 'Start_time',  'Completion_time']]

In [76]:
import random
 import time

def str_time_prop(start, end, format, prop):

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%m/%d/%Y %I:%M %p', prop)

TypeError: must be str, not datetime.timedelta

In [67]:
recipient_list = ['0242407403', '0204478561', '0237541255', '0244715996']
sender ='0243201392'

for x in range(11):
    ran1 = random.randint(22,550)
    amount = round(random.uniform(5.1,52.5), 2)
    recipient = recipient_list[random.randrange(len(recipient_list))]
    timeS = random_date("1/1/2008 1:30 PM", "1/1/2009 4:50 AM", random.random())
    timeE = (timeS + timedelta(days=1,minutes=5))
    
    data.append([x, (x*ran1), amount, recipient, sender, time, time])

NameError: name 'recipient' is not defined

In [22]:
with open('generated_data.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data)
    
csvFile.close()

In [23]:
data = pd.read_csv('generated_data.csv', header=0)

In [24]:
data.head()

  User_id Transaction_id Amount Recipient Sender Start_time Completion_time
0     one            two  three      four   five        six           seven
1     one            two  three      four   five        six           seven
2     one            two  three      four   five        six           seven
3     one            two  three      four   five        six           seven
4     one            two  three      four   five        six           seven